



form{
    border: 1px solid transparent;
    border-radius: 15px;
    width: 260px;
    max-width: 260px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgb(0, 0, 0);

}






form header .topIMG{
    background-image: url("../pictures-and-icons/istockphoto-628330470-170667a.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.signup .inputs{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

i{
    color: rgb(99, 99, 99);
}

.signup  a{
    color: rgb(231, 173, 66);
    font-size: 0.7rem;
    align-self:flex-end;
    position: absolute;
    top: 80%;
    right: 9%;
    font-weight: bold;
}

.signup a:hover{
    color: black;
}

form  .signup{
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;   
    flex: 2;
}



form .signup  .inputs .inp{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid skyblue;
    width: 100%;
}

.pass #showPass{
    cursor: pointer;
}



#signUpFooter{
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
}

#signUpFooter button{
    width: 100%;
    height: 35px;
    border: 1px solid none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(226, 153, 17);
}

#signUpFooter button:hover{
    color:white;
    background-color: black;
}

#signUpFooter button:active{
    color:white;
    background-color: black;
}


#signUpFooter a{
    color: blue;
    font-weight: bold;
}



#signUpFooter p{
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (max-width:800px) {
        main{
            margin-top: 4%;
        }

}



